@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Reset some basic styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-title {
    margin: 0;
    font-size: 45px;
    color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.author-name {
    margin: -3px 0 0;
    font-size: 1em;
    color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Make sure the rest of the page content is below the header */
.calculator {
    margin-top: 100px; /* Adjust this if your header height changes */
    padding: 20px;
}


body{
    align-items: center;
    background:linear-gradient(to right, #434343 0%, black 100%);
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.wrapper{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px  rgba(35, 35, 35, 01);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background:rgba(92, 90, 90, 0.274) ;
    
    border: 1px solid rgba(0, 0, 0, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}


.screen{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px  rgba(35, 35, 35, 01);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}

.clac-button-row{
    display: flex;
    justify-content: space-between;
    margin: 5% 0 ;
}

.calc-button{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    color: #232323;
    flex-basis: 20%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    height: 65px;
}



.calc-button:last-child{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px  rgba(35, 35, 35, 01);
    color: #232323;
    background: rgb(255, 213, 75);
}

.calc-button:hover{
    background-color: inherit;
}

.calc-button:active{
    background: lavender;
}

.triple{
    flex-basis: 73%;
}

